@{
    ViewBag.Title = "Index";
}

<a href="~/Teacher/TeacherInfo/Chapter" class="btn btn-primary btn-sm">Create Chapter</a>
<h2>Teacher Information</h2>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/AngularJs/Teacher.js")
}
