<form name="familyform" class="form-horizontal" novalidate>
    <div class="form-group">
        <label class="control-label col-xs-3" for="inputFirstName">Student Name:</label>
        <div class="col-xs-9">
            <input type="text" ng-model="name" name="name" id="name" placeholder="Student Name" required class="form-control">
            <span ng-show="familyform.name.$dirty && familyform.name.$error.required" class="help-block">Please enter Name</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="ddrelationtype">Relation Type:</label>
        <div class="col-xs-3">
            <select class="form-control">
                <option>Relation Type</option>
            </select>
        </div>
        <span ng-show="familyform.ddrelationtype.$dirty && familyform.ddrelationtype.$error.required" class="help-block">Please select relation type</span>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="inputFirstName">Family Name:</label>
        <div class="col-xs-9">
            <input type="text" ng-model="familyname" name="familyname" id="familyname" placeholder="Family Name" required class="form-control">
            <span ng-show="familyform.familyname.$dirty && familyform.familyname.$error.required" class="help-block">Please enter family name</span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3" for="phoneNumber">Phone Number:</label>
        <div class="col-xs-9">
            <input type="text" ng-model="phonenumber" name="phonenumber" id="phonenumber" placeholder="Phone Number" required class="form-control">
            <span ng-show="familyform.phonenumber.$dirty && familyform.phonenumber.$error.required" class="help-block">Please enter Phone Number</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Gender:</label>
        <div class="col-xs-2">
            <label class="radio-inline">
                <input type="radio" name="genderRadios" value="male">
                Male
            </label>
        </div>
        <div class="col-xs-2">
            <label class="radio-inline">
                <input type="radio" name="genderRadios" value="female">
                Female
            </label>
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
            <input type="submit" value="Submit" ng-click='LoginSubmit()' ng-disabled="familyform.$invalid" class="btn btn-primary">
            <input type="reset" class="btn btn-default" value="Reset">
        </div>
    </div>
</form>
